.back-btn {
  color: white;
  border: none;
  background-color: #00405f;
  font-size: 30px;
  cursor: pointer;
}

.container img {
  width: 30%;
  display: flex;
  margin: 40px auto;
}

.container {
  margin-inline: 10rem;
  gap: 10rem;
}

.country-name-details,
.country-details-off {
  text-align: center;
}

.flex-container {
  padding: 10px;
  background: linear-gradient(to bottom, rgba(34,193,195,1) , rgba(0,0,0,1) );
  border-radius: 40px;
  color: white;
  border: 1px solid #4468b0;
}

.details-country {
    background: linear-gradient(to bottom, rgb(11, 58, 59) , rgb(0, 59, 86) );
  height: 8rem;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}

.header {
  text-align: center;
  color: white;
  align-items: center;
}

.details-container {
    background: linear-gradient(to bottom, rgba(34,193,195,1) , rgba(0,0,0,1) );
}

.not-found {
  text-align: center;
  background-color: #00405f;
}
